body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #141414;
}

nav a {
  color: #aaa;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #ff0033;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

.project {
  background: #1a1a1a;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.project:hover {
  transform: translateY(-5px);
  background: #222;
}

footer {
  text-align: center;
  padding: 20px;
  background: #141414;
  color: #777;
}
